.top-to-btm {
    position: relative;
}

.icon-position {
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 20;
}

.icon-style {
    background-color: lightgrey;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: var(--primary-color);
    cursor: pointer;
    transition: all .5s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-style:hover {
    animation: none;
    background: #fff;
    color: #551B54;
    border: 2px solid #551B54;
}
