.table tr td img{
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
}

td i{
    cursor: pointer;
}

td, 
th{
 color: var(--primary-color);
}

.cart__btn{
    background: var(--primary-color);
    color: #fff;
}

.remove__cartItem{
    cursor: pointer;
    font-size: 1.2rem;
}

.td__remove{
    vertical-align: middle;
}