.buy__btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;

}

.buy__btn a:hover {
    color: #fff;
}

.timer__count {
    background: radial-gradient(circle, rgba(148,187,233,0.5) 50%, rgba(255, 255, 255, 0.5) 100%), 
    url('../assets/images/common-section-bg.jpg') no-repeat center center;
    height: 300px;
}

.timer__count img {
    width: 70% !important;
    height: 70% !important;
    object-fit: contain;
}

.timer__text{
    background: rgba(17, 114, 183, 0.064);
    padding: 15px;
}

.auth__btn {
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
}

.auth__btn a:hover {
    color: var(--primary-color);
}

.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@media only screen and (max-width: 992px) {
    .section__title {
        font-size: 1.7rem;
    }

    .counter__img {
        display: none;
    }

    .clock__top-content {
        text-align: center;
    }

    .clock__top-content h4 {
        font-size: 0.9rem !important;
    }

    .clock__top-content h3 {
        font-size: 1rem !important;
    }

    .count__down-col {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .buy__btn a {
        font-size: 0.9rem;
    }

    .section__title {
        font-size: 1.4rem;
    }
}

.ulScroll {
    display: flex;
    overflow-x: scroll;
    padding: 20px 0;
    margin: 0 auto;
}
