
.auth__background {
    background: url("../assets/images/login_bg.jpg");
    background-size: cover;
}

.auth__form{
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px 0px gray;
    background: rgba(10, 29, 55, 0.237);
}

.auth__btn{
    background: #fff !important;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 20px !important;
}

.auth__form p{
    margin-top: 30px;
    color: lightgrey;
}

.auth__form p a{
    color: white;
}

.eye__button{
    position: absolute;
    margin-left: -40px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1.3rem;
}

.radio__group > *{
    background-color: transparent;
}
