.hero-slide {
    height: 750px; 
  }
 
  .hero__section2 {
    background: radial-gradient(circle, rgba(148,187,233,0.5) 25%, rgba(238,174,202,0.5) 100%);
  }
  
  .hero__section {
    background: linear-gradient(90deg, rgba(238,174,202,0.5) 0%, rgba(148,187,233,0.5) 100%);
  }

  .hero__content {
    padding-top: 45px;
  }
  
  .hero__content h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .hero__content p {
    color: var(--primary-color);
    line-height: 28px;
    text-align: justify;
  }
  
  .hero__content p:nth-child(1) {
    font-weight: 500;
  }
  
  @media only screen and (max-width: 992px) {
    .hero__content h2 {
      font-size: 2rem;
    }
    .hero-slide {
      height: 700px;
    }
  
  }
  
  @media only screen and (max-width: 768px) {
    
    .hero__content h2 {
      font-size: 1.6rem;
    }
  
    .hero__content p {
      font-size: 0.9rem;
    }
    .hero-slide {
      height: 1000px;
    }
  
  
  }
  
  @media only screen and (max-width: 576px) {
    .hero__content {
      padding-top: 0;
      margin-bottom: 40px;
    }
  }